@use '../discord';

.base-discord-cmpt {
    background-color: discord.$discord-black;
    padding: 1rem;
    border-radius: var(--style-radius-s);
    display: flex;
    color: white;

    input {
        color: white;
        background: none;
        border: none;
    }
}